*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgb(193, 252, 252);
}
.navigation-baar{
    width: 100%;
    background-color: black;
    height: 80px;
}
.navigation-baar .logo, .navigation-baar .navigation {
    display: inline;
    width: 40%;
    color: white;
    margin-left: 20px;
}
.navigation-baar .logo h2 {
    display: inline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 80px;
}

.navigation-baar .navigation ul {
    display: inline;
    float: right;
    line-height: 80px;
    margin-right: 20px;
}


.navigation-baar .navigation ul li {
    display: inline;
    margin: 10px;
    list-style: none;
}

.navigation-baar .navigation ul li a {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

#food, #electronic, #cosmetics {
    width: 95%;
    margin: 1% auto;
    text-align: center;

}

.slide {
    width: 100%;
    margin: 0%;
    margin: 20px 0 20px 0;
    padding: 0%;
    background-color: rgb(0, 0, 0);
    text-align: left;

}


.product-list-Name{
    text-align: left;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
    font-family: sans-serif;
    background-color:black;
    color: white;
    padding: 10px;
    padding-left: 20px;
    display: inline;


}
.product {
    width: 250px;
    margin: 0.5% ;
    background-color: rgb(143, 223, 223);
    border: 1px solid black;
    display: inline-block;
    padding: 1%;
    margin: 1%;
    flex-wrap: wrap;
    border-radius: 5px;
    
}

.product img {
    width: 200px;
    height: 200px;
    border-radius: 10px ;
    margin-bottom: 10px 0px 10px 0;
}

.product h2 {
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.product ol li {
    list-style: none;

}

.product ol li a {
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


















































